
*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header{
  font-family: 'Karla',sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-content: center;
  background: linear-gradient(to right,rgb(85, 6, 85), rgb(158, 40, 158));
  color: white;
}
.Header-logo{
  display: flex;
 
}
.sidetitle{
  font-size: 15px;
  padding-top: 4px;
}
.logo{
  width:40px;
 margin-right: 5px;
}
.Meme-body .Meme-input{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}




input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  padding-inline-start: 10px;
}
button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.Meme-body{
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Meme-photo{
  position:relative;
  
}


.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
 