
*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header{
  font-family: 'Karla',sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-content: center;
  background: linear-gradient(to right,rgb(85, 6, 85), rgb(158, 40, 158));
  color: white;
}
.Header-logo{
  display: flex;
 
}
.sidetitle{
  font-size: 15px;
  padding-top: 4px;
}
.logo{
  width:40px;
 margin-right: 5px;
}
.Meme-body .Meme-input{
  display: flex;
  align-items: center;
  justify-content:space-between;
  height:25vw;
  width: 80vw;
}
input{
  height: 7vh;
  width:35vw;
  border: solid 1px rgba(66, 58, 58,0.4);
  border-radius: 5px;
  padding-inline-start: 10px;
}
button{
  font-family: 'Karla',sans-serif;
  background: linear-gradient(to right,rgb(85, 6, 85), rgb(158, 40, 158));
  width:80vw;
  height: 40px;
  border:none;
  border-radius: 5px;
  color:white;
  font-size: 20px;
  margin-bottom:20px;
  cursor:pointer;
}
.Meme-body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Meme-photo{
  margin-top:0px;
  width:100%;
  
 
 
}
 